/* 
Template: Website title
Author: Shuvo Mallick
Description: Website title
Version: 1.0.0
Keywords: 'bootstrap template', 'javascript', 'html-css', 'web template'
*/

/* ===== IMPORT INDEX ===== */
// All Variable
@import "./variables";

// Bootstrap Configuration
@import "./bootstrap";

// === CUSTOM ===
// Mixins
@import "./mixins";

// Utilities
@import "./utilities";

// component
@import "./component";

// ==== ALL PAGES =====
@import "./pages/home";

// Custom | Responsive
@import "./responsive";

/* ===== IMPORT INDEX ===== */
