// === BODY ===
body {
  background-color: $body-color;
}
// === / BODY ===

// === NAVBAR ===
.custom-navbar {
  .bg-dark {
    background-color: $body-color-secondary !important;
  }

  .navbar-brand {
    width: 120px;
  }
}
// === / NAVBAR ===

// === BANNER ===
// === / BANNER ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===
